button:focus {
    outline: none;
}




/*
 * im-button
 */
.button {
    background: rgb(134, 132, 127);
    outline: none;
    color: white;
    border: none;
    border-radius: 0.25em;
    padding: 0.75em 2em;
    line-height: 1;
    box-shadow: 0 0 0.25em rgba(0,0,0,0.5);
    text-shadow: 0 0 0.25em rgba(0,0,0,0.5);
    font-size: 1.1rem;
    transition: .1s;
    outline: 0;
}

.button:hover {
    background: rgb(153, 159, 161);
}

.button:active {
    background: rgb(112, 110, 106);
    transform: scale(.95);
}

.button.outlined {
    background: transparent;
    color: white;
    border: 2px solid #fff;
}

.button.icon {
    padding: .5em .5em;
    border-radius: 50%;
    color: #9CFFFF;
    background-color: #50808E;
    transition: .1s;
}

.button.icon:active {
    transform: scale(.9);
}






/*
 * im-textarea
 */
.im-textarea {
    width: 100%;
    color: #fff;
    background: rgba(119, 119, 119, 0.2);
    border: 2px solid #fff;
    border-radius: 8px;
    margin-bottom: 1em;
    padding: 1em 1em;
    outline: 0;
}

.im-textarea::placeholder {
  color: rgb(145, 255, 193);
  opacity: 1;
}






/*
 * im-navigation
 */
.navigation-button {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background: rgb(255, 255, 255, 0.2);
    outline: none;
    color: white;
    border: 2px solid #ffffff;
    border-radius: 55%;
    padding: .5em .5em;
    line-height: 1;
    box-shadow: 0 0 0.25em rgba(0,0,0,0.5);
    text-shadow: 0 0 0.25em rgba(0,0,0,0.5);
    font-size: 2em;
    outline: 0;
    transition: .1s;
}
.navigation-button:active {
    transform: scale(.95);
}

.navigation-button.left.fixed {
    z-index: 1;
    position: fixed;
    top: 80%;
    left: 5%;
}

.navigation-button.right.fixed {
    z-index: 1;
    position: fixed;
    top: 80%;
    right: 5%;
}






/*
 * im-background
 */
.im-bg {
    color: #fff;
    background: url('/img/background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.im-bg a{
    color: #fff;
}







/*
 * avator
 */
.post-control .user-avator {
    margin: 0 auto;
    margin-right: 16px;
}

.user-avator .name {
    margin-top: 6px;
    color: #FFFFFF;
    font-size:12px;
    letter-spacing: .05em;
    font-family: 'Electrolize', sans-serif;
}

.user-avator__container {
    align-items: center;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    line-height: normal;
    position: relative;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    align-self: flex-start;
}

.user-avator__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}






/*
 * im-card
 */

.im-card {
    min-width: 0;
    color: #fff;
    width: 100%;
    margin-bottom: 24px;
    background: rgba(255,255,255, .1);
    backdrop-filter: saturate(180%) blur(20px);
    border-top: 2px solid #4dffff;
    box-sizing: border-box;
    transition: .2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.im-card__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.5em;
    letter-spacing: .05em;
}

.im-card .im-card__header {
    align-items: center;
    display: flex;
    flex: 1 1 100%;
    letter-spacing: normal;
    min-height: 48px;
    outline: none;
    position: relative;
    text-decoration: none;
    padding-right: 1em;
    padding-left: 2em;
}

.im-card .im-card__content {
    align-items: center;
    letter-spacing: normal;
    min-height: 48px;
    outline: none;
    position: relative;
    text-decoration: none;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.im-card .im-card__action {
    display: inline-flex;
    padding: .5em;
    margin-left: auto;
    color: #A5F2F7;
    font-family: 'Electrolize', sans-serif;
}

.im-card .im-card__text {
    align-items: center;
    align-self: center;
    overflow: hidden;
    line-height: 1.8;
    letter-spacing: .02em;
}

.im-card-dot {
    top: .15em;
    position: relative;
    max-width: 0.11em;
    min-width: 0.11em;
    border-top: 2px solid #4dffff;
}

.im-card-dot.left{
    left: -0.3em;
}

.im-card-dot.right{
    margin-left: 101%;
}






/*
 * im modal
 */
.im-modal-bg {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.im-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.2);
    transition: all .4s cubic-bezier(0.65,0.05,0.36,1);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    visibility: hidden;
    display: hidden;
    opacity: 0;
    padding: .625rem 0 0;
}

.im-modal .im-card{
    background: rgba(0,0,0,.3);
}

.im-modal.active {
    visibility: visible;
    display: show;
    opacity: 1;
}

.im-modal__card {
    color: #FFF;
    margin: 70px auto;
    margin-top: calc(10vh);
    padding: 20px;
    background-color: transparent;
    border: none;
    border-radius: none;
    width: 70%;
    max-width: 1024px;
    position: relative;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

@media only screen and (max-width: 720px) {
    .im-modal__card {
        width: 90%;
    }
}

@media only screen and (max-width: 420px) {
    .im-modal__card {
        width: 100%;
    }
}